<!DOCTYPE CSS>


head {

	font-family: Helvetica

}


body { 

	font-family: Helvetica; 
	font-size:12;
}




nav {

  padding-left:  ;
  padding-right: ;
  padding-top: 5px;
  border-top: 1px solid black;
  border-bottom: 1px solid ;
  margin: 5px ;
}




.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("math_and_poetry.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


.head {

		width:300px;
		height:400px;
		background-color:#8f9091; 
		border: thin solid black;
		position: relative;  
		top: -10%;
		left:10%;
		padding-top:15px;
		padding-bottom: 15px;
		padding-left:15px;
		padding-right: 15px;
		box-shadow: 2px 5px 2px black;

		
}





.content {

		width: 500px;
		margin: auto;
		overflow: hidden;
		background-color:lightgrey;
		border: none;
		padding-left:30px;
		padding-right:30px;
		padding-top:15px;
		padding-bottom:25px;
		top:50px;
		position:relative;
		text-align: left; 

</style>


}





#dhrole {

		width: 400px;
		height: 450px;
		background-color:lightgrey;
		border: thin solid black;
		padding-left:15px;
		padding-right:15px;
		padding-top:5px;
		padding-bottom:15px;
		position:relative;
		top 200px;
		left:50px;
		box-shadow: 10px 10px 5px black;
		text-align:justify; 


}


article {
		background: #8f9091;
		overflow: hidden;
		width: 450px;
		margin: 25px;
		float: left;
		padding-left:25px;
		padding-right:25px;
		padding-top:15px;
		padding-bottom:50px;
		border: thin solid black;
	
}

aside {
	background-color:lightgrey; 
	overflow: hidden;
	word-wrap: break-word;
	height: 150%;
	margin: 70px; 
	float:center;
	padding-left:25px;
	padding-right:25px;
	padding-top:15px;
	padding-bottom:25px;
	border: thin solid black;
}

section {
	background-color:lightgrey;
	height: 215px;
	width: 550px;
	position: relative;
	left: 650px;
	top:200px;
	padding-left:25px;
	padding-right:25px;
	padding-top:15px;
	padding-bottom:25px;
	border: thin solid black;
	box-shadow: 2px 5px 2px black;

}




.publications {
		font-family:Garramond	
		font-size:15px
}



.forthcoming {
		background: lightgrey;
		overflow: hidden;
		word-wrap: break-word;
		width:30%;
		position:relative;
		float:left;
		margin: 1.75%;
		padding-left:25px;
		padding-right:25px;
		padding-top:15px;
		padding-bottom:25px;
		border: thin solid black;
}

#pictureframe {
		background: lightgrey;
		word-wrap: break-word;
		width:37.5%;
		height: 40%;
		position:relative;
		float:left;
		margin: 1.75%;
		padding-left:30px;
		padding-right: 10px;
		padding-top:15px;
		padding-bottom:25px;
		border: thin solid black;
				    		

		
}


#selfpictureframe {
		background: lightgrey;
		word-wrap: break-word;
		width:500px;
		height: 40%;
		position:relative;
		float:left;
		margin: 1.75%;
		padding-left:30px;
		padding-right: 10px;
		padding-top:15px;
		padding-bottom:25px;
		border: thin solid black;
				    			
}


#adapictureframe {
		background: lightgrey;
		word-wrap: break-word;
		width: 450px;
		height: 35%;
		position:relative;
		float:left;
		margin: 1.75%;
		padding-left:30px;
		padding-right: 10px;
		padding-top:15px;
		padding-bottom:25px;
		border: thin solid black;
				    		

		
}



#dh {

	background: lightgrey;
		word-wrap: break-word;
		width:575px;
		height: 40%;
		position:relative;
		float:left;
		margin: 1.75%;
		padding-left:30px;
		padding-right: 10px;
		padding-top:15px;
		padding-bottom:25px;
		border: thin solid black;
		
}

#explan {

		width: 400px;
		height: 550px;
		background-color:lightgrey;
		border: thin solid black;
		padding-left:25px;
		padding-right:25px;
		padding-top:15px;
		padding-bottom:25px;
		position:relative;
		top:250px;
		left:100px;
		box-shadow: 10px 10px 5px black;
		text-align:justify; 
}



h1.em {
		text-align: center;
		color:black;
		font-size:25px; 
		font-family: helvetica, Sans-serif;
		font-weight: normal;
}


h2.em   {
		color:black;
		font-size: 20px;
		font-family: helvetica, Sans-serif;
		font-weight: normal;
}

h3. {
		color:black;
		font-size: 20px;
		font-family: helvetica, Sans-serif;
		font-weight: normal;}

p {
		color:black;
		font-size: 15px
}


object 	{
		    		background: lightgrey;
		word-wrap: break-word;
		overflow: hidden;
		width:600px;
		height: 650px;
		position:relative;
		float:left;
		margin: 1.75%;
		padding-left:30px;
		padding-right: 30px;
		padding-top:30px;
		padding-bottom:25px;
		border: thin solid black;
		
}


 /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
} 








a	{
color:blue

}

a:hover {

		background:grey; 
		color:white

}






#image {
	display: block;
    margin-left: auto;
    margin-right: auto;
}



 






footer {

		border:thin solid black; 
  		position: sticky;
   		left: 0;
   		bottom: 100;
   		width: 100%;

}


footer {
  position: fixed;
  margin left: auto;
  margin right: auto;
  bottom: 0;
  width: 100%;
  background-position:center;
  background-color: grey;
  color: white;
  text-align: auto}


/* LIST #1 */
ul {list-style:none; text-align:left}
ul li { display:inline; text-transform:uppercase;padding:10px;letter-spacing:10px; }
ul li a { text-decoration:none; color:black; }
li a:hover {
   background-color: grey;  
   color: white;}

/*list#2*/
ol {list-style:none; text-align:left; border: none}
ol ul {display:inline; text-transformation:none; letter-spacing:1px;font-family:Helvetica; font-size:11}
ol ul a {text-decoration:none; color:black; }
ul ul li a:hover { background-color: grey; color:white; }
