<!DOCTYPE CSS>


head {

	font-family: Helvetica

}


body { 

	font-family: Helvetica; 
	font-size:8;
}

p {
		color:black;
		font-size: small;
}


nav {

  padding-left:  ;
  padding-right: ;
  padding-top: 5px;
  border-top: 1px solid black;
  border-bottom: 1px solid ;
  margin: 5px ;
}





.about {

		width:400px;
		height:300px;
		background-color:#8f9091; 
		border: thin solid black;
		position:fixed;
		top:250px;
		left:125px;
		padding-left:10px;
		padding-bottom: 10px;
		padding-right:5px;
		box-shadow: 2px 5px 2px black;

		
}


.focus {

		width: 425px;
		height: 200px;
		background-color:lightgrey;
		border: thin solid black;
		padding-left:5px;
		padding-right:5px;
		padding-top:0px;
		padding-bottom:10px;
		position:fixed;
		left:150px;
		top 300px;
		box-shadow: 10px 10px 5px black;


}	



.bio {

		width: 425px;
		height: 400px;
		background-color:lightgrey;
		border: thin solid black;
		padding-left:5px;
		padding-right:5px;
		padding-top:0px;
		padding-bottom:10px;
		position:fixed;
		left:150px;
		top 300px;
		box-shadow: 10px 10px 5px black;


}



section {
	background-color:lightgrey;
	float:right;
	line-height: 200px;
	width: 200px;
	float:right;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	padding-bottom:10px;
	border: thin solid black;

}

aside {
	background-color:grey;
	float:right;
	line-height: 200px;
	width: 200px;
	float:right;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	padding-bottom:10px;
	border: thin solid black;

}


.publications {
		font-type:Garramond		
}



.forthcoming {
		font-type:Garramond	
}




h1.em {
		
		color:black;
		font-size:25px; 
		font-family: helvetica, Sans-serif;
		font-weight: normal;
}


h2   {
		color:black
		font-size
}




a	{
color:black

}

a:hover {

		background:#00934a; 
		color:white

}


ul.textbox {

	border: 2px thin black;
	margin: 2px thin black;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	background color: yellow;
	font-style: Helvetica;
	font-size: 12;
}

#selfportrait {

	position:absolute;
  	left: 400px;
  	top: 200px;
  	z-index: -1;

}


footer {

		border:thin solid black; 
  		position: fixed;
   		left: 0;
   		bottom: 100;
   		width: 100%;

}


footer {
  position: fixed;
  margin left: auto;
  margin right: auto;
  bottom: 0;
  width: 100%;
  background-position:center;
  background-color: grey;
  color: white;
  text-align: auto}


/* LIST #1 */
ul {list-style:none; text-align:left}
ul li { display:inline; text-transform:uppercase;padding:10px;letter-spacing:10px; }
ul li a { text-decoration:none; color:black; }
ul li a:hover { color:white; }

/*list#2*/
ol {list-style:none; text-align:left; border: none}
ol ul {display:inline; text-transformation:none; letter-spacing:1px;font-family:Helvetica; font-size:11}
ol ul a {text-decoration:none; color:black; }
ul ul li a:hover { color:white; }

